/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: oldlace;
  // font-family: 'Noto Sans', sans-serif;
}

.nav-bar {
  display: flex;
  height: 75px;
  // background-color: royalblue;
  justify-content: flex-end;
  // justify-content: space-between;
  align-items: center;
  
font-family: 'Noto Sans', sans-serif;
}

.nav-left {
  // width: 75%;
  width: 75%;
  a {
    font-size: 1.5rem;
    color: dodgerblue;
  }
}

.nav-right {
  width: 90%;
  // width: 30%;
  font-size: 1.15rem;
  // color: rgb(236, 67, 67);
  }

 .nav-bar a {
    text-decoration: none;
    // color: rgb(90, 10, 10);
    margin: 5%;
    // font-size: 1.15rem;
    color: dodgerblue;
  }


.container {
  max-width: 1000px;
  margin: 0 auto;
}

.top-content {
  background-image: url("https://images.unsplash.com/photo-1506506637031-5e2cabd00f30?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  // background-color: gray;
  height: 400px;
  width: 99%;
  margin-top: -2.25%;
  h1 {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  p {
    font-family: 'Ubuntu', sans-serif;
  }
}
  button {
  height: 10%;
  width: 50%;
  background-color: gainsboro;
  font-size: 2rem;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  left: 25%;
}
}


.top-content {
  // display: flex;
  // justify-content: space-evenly;
  // flex-flow: wrap;
  // margin: 1%;
}

.content1 {
  width: 100%;
  // height: 200px;
  img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-top: 2%;
  }
  p {
    margin-top: 20px;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 5%;
}

.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // height: 500px;
  width: 100%;
  margin-top: 35%;
  font-family: 'Noto Sans', sans-serif;

}

.content-2 {
  height: 450px;
  width: 50%;
  // background-color: lightsteelblue;
  text-align: center;
  
  img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}
  h3 {
    margin-top: 2%;
    font-size: 1.75rem;
  }
  p {
    margin-top: 2%;
    font-size: 1.2rem;
  }
}

footer {
  text-align: center;
  margin-top: 50px;
  height: 50px;
  // background-color: royalblue;
  p {
    // color: rgb(129, 25, 25);
    color: dodgerblue;
  }
}

.aboutus-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.content-3 {
  height: 300px;
  width: 200px;
  font-family: 'Noto Sans', sans-serif;

}

h4 {
  text-align: center;
  font-size: 2rem;
  margin-top: 2%;
}
